@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.content {
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
}

section {
    min-height: 100dvh;
}

a {
    text-decoration: none;
    color: black;
}

#main {
    /* background: #E0BBE4; */
    background-image: url(opezdal.jpg);
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#html {
    /* background: #FEC8D8; */
    background-image: url(glup.webp);
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

#browser {
    /* background: #E0BBE4; */
    background-image: url(headphones.jpg);
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.desc {
    margin-left: 15rem;
}

.desc p {
    max-width: 700px;
    font-size: 25px;
    margin-left: 1rem;
}

.button {
    background: black;
    color: aliceblue;
    padding: .7em;
    border-radius: 1em;
    margin-left: 1rem;
    position: relative;
    top: 15px;
}

.title {
    font-size: 60px;
    font-weight: 600;
}

.top {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    gap: 1em;
    background: rgb(210, 145, 188, .5);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.top a {
    font-weight: 500;
}

.fuckyou {
    width: 100%;
    min-height: 100dvh;
    display: none;
    background: black;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .desc {
        margin-left: 5rem;
    }
}

@media (max-width: 768px) {
    .desc p {
        max-width: 400px;
    }
}

@media (max-width: 550px) {
    .content {
        display: none;
    }
    .fuckyou {
        display: flex;
    }
}